a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color:#D8F1D1;
	background-repeat:repeat-x;
	font-family:Arial, Helvetica, sans-serif; font-size:14px;
background-color:#f9f9ef;
background-image:linear-gradient(to bottom, transparent 1px, rgba(0,0,0,.1) 1px);
background-size: auto 2px;
	
	}
#sistema_cliente{
	font-family: "Arial Black", Gadget, sans-serif;
	text-align:left;
	font-size:18px;
	font-weight:900;
	padding-top:14px;
	padding-right:26px;
	border-bottom:1px solid #666666;
}.titulo_login {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #FFFFFF;
}
.titulo_login_fundo {
	background:url(img/Geral.png);
	border-collapse: collapse;
	border-top: 0px solid #DDDDDD;
	border-left: 0px solid #DDDDDD;
	border-right:0px solid #DDDDDD;
	border-bottom:0px solid #DDDDDD;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.caixa_login {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-collapse: collapse;
	background:#A3BFEF;
	}
.caixa_login_texto{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	padding:5;
}
.texto_superior {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #FFFFFF;
}
.titulo_menu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
}
.titulo_menu_fundo {
	background:url(img/paleta_1.png);
	border-collapse: collapse;
	border-top: 1px solid #0C0;
	border-left: 1px solid #0C0;
	border-right:1px solid #0C0;
	border-bottom:1px solid #0C0;
}
.link_menu {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #0066CC;
	font-weight: normal;
	text-decoration: none;
	margin-left:5px;
}
.link_menu_fundo {
	background:#D8F1D1;
	border-top: 0px;
	border-left: 0px;
	border-right:0px;
	border-bottom:0px;
}
.link_submenu {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #0066CC;
	font-weight: normal;
	text-decoration: none;
	margin-left:5px;
	padding-left:15px;
}
.link_submenu_fundo {
	background:#FFF;
	border-top: 0px;
	border-left: 0px;
	border-right:0px;
	border-bottom:0px;
}
.titulo_tela {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height:30px;
}
.titulo_tela_fundo {
	background:url(../img/paleta_1.png);
	border-collapse: collapse;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right:1px solid #DDDDDD;
	border-bottom:1px solid #DDDDDD;
}
.CamposForm {
	border-collapse: collapse;
	border-top: 1px solid #999;
	border-left: 1px solid #999;
	border-right:1px solid #999;
	border-bottom:1px solid #999;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	background-image:url(img/fild.png);
	color: #333333;
	height:20;
	border-radius:5px;
	}
.CamposForm_focu {
	border-collapse:separate;
	border-top: 1px solid #EED839;
	border-left: 1px solid #EED839;
	border-right:1px solid #EED839;
	border-bottom:1px solid #EED839;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	background-image:url(img/fild.png);
	color: #333333;
	border-radius:5px;
	}
.DivAcao {
	float:right;
	width:600px;
	text-align:right;
	height:40;
	padding-right:10;
	
}
.DivFechar {
	float:right;
	width:19px;
	text-align:right;
	height:19;
	padding-right:10;
	color:#F00;
	background-image:url(img/fechar.png);
	background-repeat:no-repeat;
	padding-top:0px;
	
	
}
.Nome_Campo {
	display:block;
	float:left;
	height:35px;
	position:relative;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #333333;
	text-align: left;
	padding-right:25;
	padding-left:5;
	padding-top:10;
	z-index: 1;
}
.botao_inserir {
	border-collapse: collapse;
	border-top: 0px solid #0051BF;
	border-left: 0px solid #0051BF;
	border-right:2px solid #0051BF;
	border-bottom:4px solid #0051BF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	background:url(img/botao_pv.png);
	color:#f9f9f9;
	height:25px;
	border-radius:3px;
	cursor:pointer;
	}
.botao_nao {
	border-collapse: collapse;
	border-top: 0px solid #0051BF;
	border-left: 0px solid #0051BF;
	border-right:2px solid #0051BF;
	border-bottom:4px solid #0051BF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	background:url(img/botao_pv.png);
	color:#f9f9f9;
	height:25px;
	border-radius:3px;
	cursor:pointer;
	}
.botao_sim {
	border-collapse: collapse;
	border-top: 0px solid #009900;
	border-left: 0px solid #009900;
	border-right:2px solid #009900;
	border-bottom:4px solid #009900;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	background:url(img/botao_sim.png);
	color:#f9f9f9;
	height:25px;
	border-radius:3px;
	cursor:pointer;

	}
.botao_atualizar {
	border-collapse: collapse;
	border-top: 0px solid #0051BF;
	border-left: 0px solid #0051BF;
	border-right:2px solid #0051BF;
	border-bottom:4px solid #0051BF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	background:url(img/botao_pv.png);
	color:#f9f9f9;
	height:25px;
	border-radius:3px;
	cursor:pointer;
	}
.botao_buscar {
	border-collapse: collapse;
	border-top: 0px solid #0051BF;
	border-left: 0px solid #0051BF;
	border-right:2px solid #0051BF;
	border-bottom:4px solid #0051BF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	background:url(img/botao_pv.png);
	color:#f9f9f9;
	height:25px;
	border-radius:3px;
	cursor:pointer;
	}
.coluna_lista_fundo{
	background-color:#D8F1D1;
}
.coluna_lista_fundo_rel{
	background-color:#efefef;
}
.coluna_fundo {
	border-collapse: collapse;
	border-top: 1px solid #83CF81;
	border-left: 1px solid #83CF81;
	border-bottom:1px solid #83CF81;
	}
.coluna_fundo_rel {
	border-collapse: collapse;
	border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
	border-bottom:1px solid #CCC;
	}
.coluna_texto {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color: #333333;
	text-transform:uppercase;
	}
.linha_tabela1 {
	border-collapse: collapse;
	border-left: 1px solid #83CF81;
	border-bottom:1px solid #83CF81;
	font-family: Arial, Helvetica, sans-serif;
	background-color:#FFF;
	}
.linha_tabela1_rel {
	border-collapse: collapse;
	border-left: 1px solid #CCC;
	border-bottom:1px solid #CCC;
	font-family: Arial, Helvetica, sans-serif;
	background-color:#FFF;
	}
.texto_tabela {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #333333;
	padding:3;
	}	
.campo_iframe {
	border-collapse: collapse;
	border-top: 2px solid #83CF81;
	border-left: 2px solid #83CF81;
	border-right:2px solid #83CF81;
	border-bottom:2px solid #83CF81;
	color: #ccc;
	}	
.letra_menu{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#A8E098;
	font-weight: normal;
	text-decoration: none;
}
.letra_menu a:hover{
	
	color:#000;
}
.texto_diversos {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #333333;
	padding:3;
	}	
.titulo_textos {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	font-style: normal;
	color: #333333;
}	
.tabela_linha_Vermelha {
	border-collapse: collapse;
	border-left: 1px solid #DDDDDD;
	border-bottom:1px solid #DDDDDD;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #333333;
	background-color:#FEC7C0;
	}
	
.tabela_linha_Azul {
	border-collapse: collapse;
	border-left: 1px solid #DDDDDD;
	border-bottom:1px solid #DDDDDD;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #333333;
	background-color:#DCE6FC;
	}
.tabela_linha_AmareloEscuro {
	border-collapse: collapse;
	border-left: 1px solid #DDDDDD;
	border-bottom:1px solid #DDDDDD;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #333333;
	background-color:#FEF589;
	}
.tabela_linha_AmareloClaro {
	border-collapse: collapse;
	border-left: 1px solid #DDDDDD;
	border-bottom:1px solid #DDDDDD;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #333333;
	background-color:#FEFFD9;
	}
.tabela_linha_Verde {
	border-collapse: collapse;
	border-left: 1px solid #DDDDDD;
	border-bottom:1px solid #DDDDDD;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #333333;
	background-color:#E0F5CD;
	}


.CamposForm_login {
	border-collapse: collapse;
	border-top: 1px solid #999;
	border-left: 1px solid #999;
	border-right:1px solid #999;
	border-bottom:1px solid #999;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: normal;
	background-image:url(img/fild.png);
	color: #333333;
	}
.botao_acessar {
	border-collapse: collapse;
	border-top: 4px solid #090;
	border-left: 2px solid #999;
	border-right:2px solid #090;
	border-bottom:4px solid #090;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	background:url(img/botao.png);
	color:#f9f9f9;

	}
.link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #0066CC;
	font-weight: normal;
	text-decoration: none;
	margin-left:5px;
	cursor:pointer;
}
.menu_painel {
	display:block; 
	float:right; 
	height:20px; 
	position:relative; 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #0066CC;
	text-align: left;
	padding-right:25;
	padding-left:5;
	padding-top:2;
}
.menu_painel_ferramentas {
	display:block; 
	float:right; 
	height:20px; 
	position:relative; 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color:#0066CC;
	text-align: left;
	padding-right:25;
	padding-left:5;
	padding-top:2;
}
.peinel_dados {
	display:block; 
	float:left; 
	height:20px; 
	position:relative; 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #333333;
	text-align: left;
	padding-right:25;
	padding-left:5;
	padding-top:10;
}
.Nome_Campo_foto {
	display:block; 
	float:right; 
	height:35px; 
	position:relative; 
	padding-right:3;
	padding-left:5;
	padding-top:10;
	
}
.AvisosConfirmacao {
	position:absolute;
	border-collapse: collapse;
	border:2px solid #DDDDDD;
	font-family:"Courier New", Courier, monospace;
	font-size: 18px;
	font-weight: normal;
	color: #333333;
	background-color:#FEF589;
	height:90px;
	text-align:center;
	padding-top:25px;
	padding-right:10px;
	padding-left:10px;
	border-radius:10px;
	z-index:1000;
	left: 290px;
	top: 166px;
	display:none;
	
	}
.AvisosExclusao {
	position:absolute;
	border-collapse: collapse;
	border:2px solid #DDDDDD;
	font-family:"Courier New", Courier, monospace;
	font-size: 18px;
	font-weight: normal;
	color: #333333;
	background-color:#FEF589;
	height:90px;
	text-align:center;
	padding-top:25px;
	padding-right:10px;
	padding-left:10px;
	border-radius:10px;
	z-index:1000;
	left: 163px;
	top: 0px;
	display:none;
	
	}
.spanbotao_sim {

	padding-right:20px;

	}