/**
Nome: layout.css
Função: Toda codificação responsável pela formatação do layout deve ser implementada aqui.
*/

*{margin:0; padding:0}
body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	background-color:#f9f9ef;
	background-size: auto 2px;

}

#form_container, #resultado{padding:10px;}

#form_container fieldset{width:500px; padding:10px;}
#form_container fieldset input{width:190px; padding:2px; border:1px solid #ccc; margin:2px 0px; color:#000;text-transform:uppercase;}
#form_container fieldset input:hover, #form_container fieldset input:focus{border:1px solid #FC0}
.select{
width:195px;
padding:2px; 
border:1px solid #ccc;
font-family:Arial, Helvetica, sans-serif;
color:#000;
font-size:12px;
}
.sistema{
font-family:Arial, Helvetica, sans-serif;
font-size:24px;
color:#09C;
}
.select1{
width:195px;
padding:2px; 
border:1px solid #ccc;
font-family:Arial, Helvetica, sans-serif;
 color:#000;
font-size:18px;
text-transform:uppercase;
}
#f1{
margin-bottom:5px;
z-index:100000;
}
.blue{color:#0066CC}
.red{color:#FF0000}
#conteudo{
	margin:10px auto 0px auto;
	padding:0px 20px 0px 20px;
	width:95%;
	text-align:center;
	
}
#bt{
	
	background-color:#f9f9f9; 
	margin-top:40px; 
	text-align:center;
	z-index:10;
	
}
#bt2{
	
	margin-top:40px; 
	text-align:center;
	z-index:10;
	
}
.campos{
	float:left; 
	background-color:#f9f9f9; 
	margin-right:15px;
	margin-bottom:10px;
	text-align:left;
	font-family:Arial, Helvetica, sans-serif; font-size:12px;
	color:#666;
	}
.campos1{
	background-color:#f9f9f9; 
	margin-bottom:10px;
	text-align:left;
	font-family:Arial, Helvetica, sans-serif; font-size:12px;
	color:#666;
	width:204px;
	}
.campos2{
	background-color:#f9f9f9; 
	margin-right:15px;
	margin-bottom:10px;
	text-align:left;
	font-family:Arial, Helvetica, sans-serif; font-size:12px;
	color:#666;
	}
#recibo{
	width:320px;
	font-family:"Courier New", Courier, monospace;
	font-size:11px;
	padding:10px;
}
#resultado{
	margin-left:10px;
	float:left;
	}
#resultado1{
	margin-left:10px;
	width:98%;
	}
.set{
	border:1px solid #CCC; 
	box-sizing: border-box;
	

	}
.legenda{
		border:1px solid #CCC;
		background-color:#f9f9f9; 
		padding:10px 10px; 
		margin:auto;
		color:#000;
		text-transform:uppercase;
	}
.bt_cadastrar{
display: inline-block;
color: #fff;
background-color: #009835;
padding: 10px 20px;
text-decoration: none;
box-sizing: border-box;
font-family: Helvetica, Arial, sans-serif;
font-size: 14px;
border: 0px;	
box-shadow: 2px 2px 2px #999;
}


.bt_cadastrar:hover {
background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,.15));
cursor: pointer;
}
.bt_excluir{
display: inline-block;
color: #fff;
background-color: #CC0000;
padding: 10px 20px;
text-decoration: none;
box-sizing: border-box;
font-family: Helvetica, Arial, sans-serif;
font-size: 14px;
border: 0px;	
box-shadow: 2px 2px 2px #999;
}
.bt_excluir:hover {
background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,.15));
cursor: pointer;
}
.coluna_lista_fundo{
color:#000;
background-color: #f9f9f9;
padding: 5px 10px;
text-decoration: none;
box-sizing: border-box;
font-family: Helvetica, Arial, sans-serif;
font-size: 14px;
border: 0px;	
box-shadow: 2px 2px 2px #999;

	}
.coluna_fundo_rel {
	border-collapse: collapse;
	border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
	border-bottom:1px solid #CCC;
	}
.coluna_texto {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #333333;
	border-collapse: collapse;
	border-left: 1px solid #ccc;
	border-bottom:1px solid #ccc;
	padding-bottom:5px;
	padding-top:5px;
	}
.tabela_linha:hover {
	background-color:#FFC;
}
.coluna_texto2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #333333;
	border-collapse: collapse;
	border-right:1px solid #ccc;
	border-left: 1px solid #ccc;
	border-bottom:1px solid #ccc;
	}
#menu_acoes{
	width:95%;
	padding-right:20px;
	padding-bottom:20px;
	padding-top:20px;
	text-align:right
}
